$animationDuration: 1200ms;
$marginBox: 1.81rem;
$marginBox2: 2.368vw;



.banner {
  height: 100vh;

  display: flex;
  align-items: center;

  // background-image: url("/assets/images/space.jpg");
  background-repeat: repeat;
  background-size: 133vw auto;

  background-image: url(/assets/images/space.jpg);
  background-image: image-set(
    url(/assets/images/space.webp),
    url(/assets/images/space.jpg)
  );

  // background-position: 0vw 100%;
  animation-name: backgroundPositionMoveXStart;
  animation-duration: $animationDuration;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;

  @media screen and (max-width: $vw-size-8) {
    background-size: cover;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;

    background-image: url("/assets/images/smoke-1.png"), url("/assets/images/smoke-2.png");

    background-image: image-set(
      url("/assets/images/smoke-1.webp"),
      url("/assets/images/smoke-1.png")
    ), 
    image-set(
      url("/assets/images/smoke-2.webp"),
      url("/assets/images/smoke-2.png")
    );

    background-blend-mode: hard-light;
    background-repeat: repeat-x;
    background-size: cover, cover;

    opacity: 0;
    animation-name: smokeToLeft;
    animation-duration: 10000ms;
    animation-delay: 750ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;

    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;

  }

  &._left {
    animation-name: backgroundPositionMoveXLeft;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
  }
  &._center {
    animation-name: backgroundPositionMoveXCenter;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
  }
  &._right {
    animation-name: backgroundPositionMoveXRight;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
  }
  &._from-right {
    animation-name: backgroundPositionMoveXFromRight;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
  }

  &__content {
    display: flex;

    transform: translateY(-2.6%);
    position: relative;
    z-index: 10;
  }

  &__decor-line {
    width: 0.125rem;

    display: inline-flex;
    flex-shrink: 0;
    background: #D9D9D9;

    animation-name: decorFullHeight;
    animation-duration: $animationDuration;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

    margin-right: $marginBox;
    position: relative;
    z-index: 10;

    @media screen and (max-width: $vw-size-8) {
      animation-name: decorFullHeightMobile;
      margin-right: $marginBox2;
    }

    @media screen and (max-width: $vw-size-6) {
      width: 0.0625rem;
    }

    &::before,
    &::after {
      content: "";
      background: #D9D9D9;
      flex-shrink: 0;
      border-radius: 50%;
      position: absolute;
      left: 50%;
    }
    &::before {
      width: 0.375rem;
      height: 0.375rem;

      top: 0;
      transform: translate(-50%, -50%);

      @media screen and (max-width: $vw-size-6) {
        width: 0.25rem;
        height: 0.25rem;
      }
    }
    &::after {
      width: 0.625rem;
      height: 0.625rem;

      opacity: 0;
      animation-name: fadeIn;
      animation-duration: $animationDuration;
      animation-delay: $animationDuration;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;

      bottom: 0;
      transform: translate(-50%, 50%);

      @media screen and (max-width: $vw-size-6) {
        width: 0.35rem;
        height: 0.35rem;
      }
    }
  }
  
  &__box {
    width: 100%;

    display: flex;
    flex-direction: column;

    // margin-right: $marginBox;
    @media screen and (max-width: $vw-size-8) {
      margin-right: $marginBox2;
    }
  }

  &__suptitle {
    width: 100%;
    padding-top: 0.95rem;

    color: $c-red;
    font-size: 2.25rem;
    font-weight: 500;
    letter-spacing: 0.05625rem;
    line-height: normal;
    text-transform: uppercase;
    line-height: 0.704;

    opacity: 0;
    animation-name: fadeIn;
    animation-duration: $animationDuration;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

    margin-bottom: 3rem;
    position: relative;
    z-index: 10;

    @media screen and (max-width: $vw-size-8) {
      padding-top: calc(0.7rem + 0.7vw);
      font-size: calc(0.7rem + 2.013vw);

      margin-bottom: calc(0.7rem + 2.987vw);
    }
  }

  &__title {
    // разница 2,23196881092
    // width: 70.7rem;
    // height: 31.676rem;

    width: 71.5rem;
    height: 32.1rem;

    position: relative;
    @media screen and (max-width: $vw-size-8) {
      width: calc(95vw - 2rem);
      //94.7vw/2,23196881092
      height: calc(42.5633187772vw - 0.896069868994rem);
    }
    
    display: flex;

    opacity: 0;
    animation-name: fromDark;
    animation-duration: $animationDuration;
    animation-delay: calc($animationDuration * 1.2);
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;


    &-mask {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    &-video {
      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center center;

      opacity: 0;
      animation-name: fadeIn;
      animation-duration: $animationDuration;
      // animation-delay: calc($animationDuration - 750ms);
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
    }
  }


}



@keyframes decorFullHeight {
  0% {
    height: 0rem;
  }
  100% {
    height: 37.28rem;
    @media screen and (max-width: $vw-size-8) {
      height: calc((0.7rem + 0.7vw) + ((0.7rem + 2.013vw) * 0.704) + (0.7rem + 2.987vw) + (42.5633187772vw - 0.896069869rem));
    }
  }
}
@keyframes decorFullHeightMobile {
  100% {
    height: calc((0.7rem + 0.7vw) + ((0.7rem + 2.013vw) * 0.704) + (0.7rem + 2.987vw) + (42.5633187772vw - 0.896069869rem));
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fromDark {
  100% {
    opacity: 1;
  }
}

@keyframes backgroundPositionMoveXStart {
  0% {
    background-position: 0vw 49%;
  }
  100% {
    background-position: -16.6vw 49%;
  }
}

@keyframes backgroundPositionMoveXLeft {
  0% {
    background-position: -16.6vw 49%;
  }
  100% {
    background-position: -2.5vw 49%;
  }
}
@keyframes backgroundPositionMoveXCenter {
  0% {
    background-position: -2.5vw 49%;
  }
  100% {
    background-position: -16.6vw 49%;
  }
}
@keyframes backgroundPositionMoveXRight {
  0% {
    background-position: -16.6vw 49%;
  }
  100% {
    background-position: -27vw 49%;
  }
}
@keyframes backgroundPositionMoveXFromRight {
  0% {
    background-position: -27vw 49%;
  }
  100% {
    background-position: -16.6vw 49%;
  }
}

@keyframes smokeToLeft {
  0% {
    opacity: 0;
    background-position: 0vw center;
  }
  10% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.2;
  }
  50% {
    opacity: 0;
    background-position: -133vw center;
  }

  50% {
    opacity: 0;
    background-position: -133vw center;
  }
  60% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    background-position: -266vw center;
  }
}