:root {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

$c-base: #F2E1C2;
$c-red: #F23207;
$c-dark: #262526;


$vw-size-2: 290px;
$vw-size-5: 690px;
$vw-size-6: 750px;
$vw-size-7: 910px;
$vw-size-8: 1232px;