.btn {
  height: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.25rem;
  background: $c-base;

  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;

  transition: background-color 300ms, color 300ms;

  @media screen and (max-width: $vw-size-7) {
    height: 2.2rem;
    font-size: 0.9rem;
  }

  &:hover {
    background-color: $c-red;
    color: $c-base;
  }

  > span {
    display: inline-flex;

    transform: translateY(0.07rem);
  }

}