.nav {
  display: inline-flex;

  gap: 1.9rem;

  margin-left: auto;

  @media screen and (max-width: $vw-size-7) {
    gap: 1rem;
  }
  
  &__item {
    color: $c-base;
    text-transform: uppercase;

    transition: color 300ms;

    @media screen and (max-width: $vw-size-7) {
      font-size: 0.9rem;
    }

    &:hover {
      color: $c-red;
    }
  }

}