$transitionBackground: 500ms;

.popup {
  width: 100%;
  height: 100%;
  
  pointer-events: none!important;

  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;

  > * {
    pointer-events: none!important;
  }

  &__close {
    transition: background-color 300ms linear;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__container {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-top: 6.25rem;

    position: relative;

    @media screen and (max-width: $vw-size-7-5) {
      padding-top: calc(6.8vw + 2rem);
    }

    &::before {
      content: "";
      width: 0;
      height: 0;
  
      border-radius: 50%;
      background-color: $c-base;
  
      transition: all $transitionBackground;
  
      transform: scale(0);
      right: 6.25rem;
      top: 2.7rem;
      position: absolute;
      z-index: -1;
    }
  }

  &__wrapper {
    transition: opacity 0;
    opacity: 0;
  }

  &__title {
    max-width: 49.5rem;

    color: $c-dark;
    font-family: "Bebas Neue", sans-serif;
    font-size: 7.125rem;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.19rem;
    text-transform: uppercase;

    transition: opacity var(--msChange);

    transform: translateX(0.1rem);
    @media screen and (max-width: $vw-size-7-5) {
      font-size: 11.4vw;
    }

    &._hidden {
      opacity: 0;
    }
  }

  &__close {
    width: 2rem;
    height: 2rem;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: $c-dark;

    &:hover {
      background-color: $c-red;
    }

    svg {
      width: 0.75rem;
      height: 0.75rem;
    }
  }

  &__form {
    margin-top: 5.1rem;

    @media screen and (max-width: $vw-size-7-5) {
      margin-top: calc(5.7vw + 1.5rem);
    }
  }

  &._opened {
    pointer-events: initial!important;

    > * {
      pointer-events: initial!important;
    }
  }

  &._opened & {
    &__wrapper {
      transition: opacity 300ms linear $transitionBackground;
      opacity: 1;
    }

    &__container {
      &::before {
        // width: 210%;
        // height: 210%;
        width: 1rem;
        height: 1rem;
        transform: scale(250);
      }
    }
  }
}